.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.clients-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  color: var(--secondary-color);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.clients-list-item {
  margin-bottom: 30px;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 90px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color var(--transition-duration) var(--cubic);

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}

.clients-list-logo {
  fill: currentColor;
  transition: color var(--transition-duration) var(--cubic);

  .clients-list-item:nth-child(1) & {
    width: 44px;
    height: 49px;
  }

  .clients-list-item:nth-child(2) & {
    width: 40px;
    height: 52px;
  }

  .clients-list-item:nth-child(3) & {
    width: 41px;
    height: 43px;
  }

  .clients-list-item:nth-child(4) & {
    width: 80px;
    height: 42px;
  }

  .clients-list-item:nth-child(5) & {
    width: 59px;
    height: 47px;
  }

  .clients-list-item:nth-child(6) & {
    width: 88px;
    height: 45px;
  }
}

@media screen and (min-width: 460px) and (max-width: 1199px) {
  .clients-list-item {
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 460px) and (max-width: 767px) {
  .clients-list-item {
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .clients-list-link {
    width: 226px;
  }
}

@media screen and (max-width: 459px) {
  .clients-list {
    display: block;
  }

  .clients-list-item {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .clients-list-link {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .clients-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.667;
  }

  .clients-list-item {
    margin-bottom: 0;
  }

  .clients-list-link {
    width: 170px;
  }
}
