:root {
  --accent-color: #2196f3;
  --main-color: #757575;
  --secondary-color: #212121;
  --main-white-color: #ffffff;
  --secondary-white-color: rgba(255, 255, 255, 0.6);
  --dark-background-color: #2f303a;
  --light-background-color: #f5f4fa;
  --input-border-color: rgba(33, 33, 33, 0.2);
  --modal-message-placeholder-color: rgba(117, 117, 117, 0.5);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;
}
